<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Sign in
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu sign-in-dropdown">
    <div>
      <h4>Sign in with:</h4>
      <a href="#" id="sign-in-google_oauth2">
        <img src="/assets/google-pen32.png" />
      </a>
      <a href="#" id="sign-in-facebook">
        <img src="/assets/facebook-pen32.png" />
      </a>
      <a href="#" id="sign-in-twitter">
        <img src="/assets/twitter-pen32.png" />
      </a>
    </div>
    {{! <li><a href="#" id="sign-in-twitter">Twitter</a></li>
    <li><a href="#" id="sign-in-google_oauth2">Google</a></li>
    <li><a href="#" id="sign-in-facebook">Facebook</a></li> }}
  </ul>
</li>